// -----------------------------------------------------------------------------
// Links
// -----------------------------------------------------------------------------

a {

	&:link {

	}

	&:hover,
	&:visited:hover {

	}

	&:active,
	&:visited:active {

	}

	&:visited {
		color: steelblue;
	}
}

// -----------------------------------------------------------------------------
// Headings
// -----------------------------------------------------------------------------
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	a {
		text-decoration: none;
	}
}

h2 {
	border-bottom: 0.075rem solid $grey;
	margin-bottom: 1.35rem;
}

h3 {
	line-height: 1.35rem;
	margin-bottom: 1.35rem;
}

// -----------------------------------------------------------------------------
// Paragraphs, lists, oh my
// -----------------------------------------------------------------------------

p {
	@include font('sans-serif', 1em, 1.35, 300);
	margin: 0 0 1.35em 0;
}

strong {
	font-weight: bold;
}
