/*-------General---
 ===============================*/


html {
	font-size:1em;
}

body {
	font-family: Arial,"liberation sans", Helvetica, sans-serif;
	font-size:85%;
	color:#6D6E72;
	margin:0;
	min-width:290px;
	padding:0;
	background-color:#1A8F82;
}

* {
	 -webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		  -o-box-sizing:border-box;
		     box-sizing:border-box;
}

a, a img, img a:focus, a:active {
	outline-style:none;
	outline:none;
	border:none;
	color:#FF6600;
	text-decoration:none;
}

a:hover {
	color:#333;
}

/*----------General Layout---
 =====================================*/

.row {
	width:100%;
	display:block;
	clear:both;
	float:left;
}

.inner {
	max-width:1320px;
	margin:0 auto;
	padding:0 20px;
	position:relative;
}

.inner * {
	position:relative;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing:border-box;
	     -o-box-sizing:border-box;
	        box-sizing: border-box;
}

#filter-panel {
	width:30%;
	float:left;
	position:relative;
	display:block;
}

.branding {
	width:30%;
	float:left;
	margin:0;
}

#trademapper {
	display:block;
	float:right;
    position: relative;
    width: 70%;
}

#mapinfo {
    border: medium none;
}

#mapinfo body {
	padding:0;
}

/*----------Header--------------------
 =====================================*/

.header.row {
	background-color:#1A8F82;
}

/*---Branding--*/

.branding {
    color: #fff;
    padding: 20px 0;
}
.logo {
    margin: 0;
    width: 100%;
}
.logo img {
	width:100%;
}

/*---File Select--*/

.user-actions {
	width:70%;
	float:right;
	padding:20px 0 20px 20px;
	color:#fff;
}
.group-fileinput,
.csv-load-errors,
.csv-load-errors.haserror {
	width: 50%;
	float:left;
	border:none;
	margin:0;
	padding: 10px 0 0 20px;
}
.group-fileinput > p > input {width: 100%;}
.group-fileinput > p > label {width: 100%;color:#fff;font-size:0.8em;}


.csv-load-errors > p {
	background-color:#177F73;
	padding:1em;
	margin-bottom:0;
	margin-top:0.5em;
}

#csv-load-error-details {
    background-color: #177f73;
    padding:1em;
    position:absolute;
    z-index:2;
}

.csv-load-errors.haserror > p > strong {
    float: left;
    margin-right: 0.5em;
}

span.showhide {
	cursor: pointer;
	color: #FF6600;
	text-decoration: underline;
}


/*----------Filter Panel--------------
 =====================================*/

.intro {
    padding-right: 30px;
}

#introtext{
	border:none;
}
.intro > p > a {
	display:block;
	clear:both;
}

.csv-data-loaded .intro {
	display:none;
}

/*--Social Share--*/

.social-share {
    margin-left: 0.5em;
    margin-top: 1em;
}

.social-share h3 {
    float: left;
    margin-right: 20px;
    margin-top: 0;
}

.ss-share {
    list-style: none outside none;
    margin: 0;
    padding-bottom: 0.5em;
    padding-left: 0;
}

.ss-share-item {
    display: inline;
    margin-right: 0.25em;
}

.ss-share-link {
    background-image: url("../images/social-share-icons-sprite.png");
    background-repeat: no-repeat;
    display: inline-block;
    height: 25px;
    width: 25px;
}

.ico-twitter {
    background-position: 25% center;
}

/*---Filter Groups --*/

#filter-panel .filters-group {
    border: none;
    clear: both;
    margin: 0;
    padding: 0.5em 2em 0.5em 0;
    width: 100%;
    font-size:0.8em;
}

#filter-panel .filters-group.group-title {
	padding:0;
	margin:0;
}

.filter-group-title,
.group-title > label {
    display:none;
}

.form-item {
	margin:0;
}

.form-item > label {
	color:#333;
}

/*---Map Title--*/

#title {
    background-color: white;
    border: medium none;
    color: #177f73;
    font-family: sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    height: 4em;
    margin: 0 0 15px;
    padding: 0.5em;
    resize: none;
    width: 100%;
}

/*---Filter Group selectors--*/

.form-item > label{
	display: inline-block;
    float: left;
    font-weight: bold;
    line-height: 1.8em;
    width: 50%;
}

.form-item > select,
.form-item > input {
    float: right;
    width: 50%;
}

/*---Location Group Selectors--*/

.group-location > p {
    background-color: #333;
    color: #fff;
    overflow: auto;
    padding: 0.5em;
    margin:0.25em 0;
}

.group-location > p > label {
    color:#fff;
    font-size:1.4em;
    width:40%;
}

.group-location > .form-item > .multiselect {
     -moz-appearance: none;
  -webkit-appearance:none;
    background-color: rgba(0, 0, 0, 0.2);
    border: medium none;
    color: #fff;
    font-weight: bold;
    padding: 5px 10px;
    width: 60%;
}


.group-location > .form-item > .multiselect:hover {
	background-color: rgba(0, 0, 0, 0.5);
	cursor:pointer;
}

.form-item.location-exporter {background-color: #45689f;}
.form-item.location-transit {background-color: #20AF9F;}
.form-item.location-importer {background-color: #FF6600;}

.group-location > .form-item {
    background-image: url("../images/icon-origin.svg");
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
}

.group-location > .form-item.location-exporter{background-image: url("../images/icon-exporter.svg");}
.group-location > .form-item.location-transit{background-image: url("../images/icon-transit.svg");}
.group-location > .form-item.location-importer{background-image: url("../images/icon-importer.svg");}

/*---Year Group selectors--*/

.group-year > p {
    float: left;
    width: 50%;
}

.group-year > p > label {
    margin-right: 0.5em;
    padding-top: 2px;
    width: 30%;
}

.form-item.year-from > select, .form-item.year-to > select {
    width: 60%;
}

.year-to > label {padding-left: 1em;}

/*---Quantity selectors--*/

.form-item.category-quantity > label {
    width: 20%;
}

.form-item.category-quantity > select {
    width: 80%;
}

/*---Category selectors--*/

.group-category > .form-item {
	clear:both;
}

.group-category > .form-item > select {
	font-size:0.95em;
}


/*----------Map-----------------------
 =====================================*/

.map.row {
	background-color:#eee;
	padding:20px 0;
}

#trademapper {
    background-color:#fff;
    overflow:hidden;
    resize:vertical;
}

#mapcanvas {
	width:100%;
	height:100%;
	min-height:600px;
}

.mapocean {
	fill: #fff;
}

.country { fill: #DFDFDF; }

.country.trading { fill: #b1c73e; }

.country-border {
	fill: none;
	stroke: #fff;
	stroke-linejoin: round;
}

.diagonal-hatch-path {
	stroke:#aaa;
	stroke-width:1px;
}

.disputed-border {
	fill: none;
	stroke: #fff;
	stroke-linejoin: round;
}

.legend-background {
	fill: #f8f8f8;
	opacity: 0.6;
}

.legend.traderoute {
	opacity: 0.6;
}

.spiral.traderoute {
	stroke: #6D6E72;
}

.spiral.traderoute.traderoute-highlight {
	stroke: #EF0E81;
}

.route-arrow {
	fill: none;
	stroke-linejoin: round;
}

.route-arrow-head-wide {
	fill: white;
	fill-opacity: 0.5;
}

.route-arrow-head-narrow {
	fill: black;
	fill-opacity: 1;
}

.route-plain-arrow-head-narrow {
	fill: #666666;
	fill-opacity: 1;
}

.tradenode.origin {
	fill:#000000;
}
.tradenode.exporter {
	fill:#45689f;
}
.tradenode.transit {
	fill:#20AF9F;
}
.tradenode.importer {
	fill:#ff6600;
}



/*----------Tooltip---
 =====================================*/

#maptooltip {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9);
    border: 5px solid rgba(0, 0, 0, 0.8);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    position: absolute;
    min-height:8em;
    display:table;
}

#maptooltip > span {
    color: #333;
    float: left;
    line-height: 1.8em;
    width: 50%;
}

.tooltip-dest > em {
    color: #ff6600;
    font-size: 1.1em;
    font-weight: bold;
}

.tooltip-dest > em:first-child {
    color: #333;
}

span.tooltip-source {
	font-size:1.3em;
	font-weight:bold;
	color:#6D6E72;
	width:100%!important;
}
span.tooltip-dest {
	color: white;
}

.tooltip-header {
    background-color: #333;
    border: medium none;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
    height: 23px;
    margin: 0;
    padding: 5px;
    position: absolute;
    right: 0;
    top: -23px;
    width: 5em;
}

.tooltip-header:hover{
	cursor:move;
}

.tooltip-close {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    color: #000;
    cursor: pointer;
    float: right;
    font-weight: bold;
    padding: 0 0.2em;
}

.tooltip-close:hover {
	background-color:black;
	color:white;
}

.tooltip-summary {
    float: left;
    padding: 10px 10px 0;
    width: 100%;
}

.tooltip-total {
    color: #333;
    display: block;
    float: left;
    font-weight: bold;
    line-height: 1em;
    margin-bottom: 0.5em;
    width: 50%;
}

.tooltip-units {
    clear: both;
    color: #555;
    display: block;
    float: right;
    font-size: 0.7em;
    text-align: right;
    width: 50%;
}

.tooltip-quantity {
    color: #8f9f31;
    float: right;
    font-size: 2.5em;
    font-weight: bold;
    position: absolute;
    right: 10px;
    top:5px;
}

.tooltip-pointlist {
    clear: both;
    padding: 10px;
}

p.tooltip-location {
	margin:0.4em 0;
	padding-left:35px;
	line-height:30px;
	width:50%;
	float:left;
}

.tooltip-location:before {
    background-color: #333;
    background-image: url("../images/icon-origin.svg");
    background-position: 7px 7px;
    background-repeat: no-repeat;
    background-size: 16px auto;
    border-radius: 50%;
    content: "";
    display: block;
    height: 30px;
    left: 0;
    position: absolute;
    width: 30px;
}

.location-role-icon {
    display: none;
}


.tooltip-location.exporter:before {background-color: #45689f; background-image: url("../images/icon-exporter.svg");}
.tooltip-location.transit:before {background-color: #20AF9F; background-image: url("../images/icon-transit.svg");}
.tooltip-location.importer:before {background-color: #FF6600; background-image: url("../images/icon-importer.svg");}

.location-role-country {
    color: #555;
    font-size: 1.2em;
    font-weight: bold;
}
/*----------Disclaimer-------------------
 =====================================*/

.info.row > .inner {
	padding:0 10px;
}

footer.row {
    background-color: #1a8f82;
    clear: both;
    padding: 10px 0 0;
    font-size:0.9em;
}

.disclaimer {
	clear: both;
	color: #eee;
	display: block;
	margin: 0;
	padding: 0;
	width:80%;
	float:left;
}

.built-by {
	width:20%;
	float:right;
	color:#eee;
	text-align:right;
}

.help-text {
	color:#eee;
}

.disclaimer a, .built-by a, .help-text a {
	color:#fff;
}
