<div id='cookiedialog' role="alert" tabindex="10" aria-labelledby="#cookies">
	<div id='cookiedialog-banner'>
		<h1 id="cookies">This website uses cookies</h1>
		<button type="button" class="btn cookie-banner-ok pull-right" aria-label="I consent to cookies">OK, I accept cookies</button>
<p>We use cookies to improve your experience on our website<span class='cookiedialog-analytics'> and collect anonymised usage statistics</span>. We use one cookie to remember user preferences (required).<span class='cookiedialog-analytics'> We also use cookies to gather anonymized usage statistics using Google Analytics.</span> For further information, please read our <a href="https://github.com/trademapper/trademapper-js/blob/gh-pages/_pages/08_Privacy.md">Privacy policy</a>.
				</p>
	</div>
</div>
