<div id='cookiedialog'>
	<div id='cookiedialog-banner'>
		<p>We use cookies to improve your experience on our site<span class='cookiedialog-analytics'> and collect anonymised usage statistics</span>.</p>
		<button type="button" class="btn btn-success cookie-banner-ok">Ok</button>
		<button type="button" class="btn btn-secondary cookie-banner-more">More information</button>
		<span class="cookie-banner-ok cookie-banner-x">✖</span>
	</div>
	<div id='cookiedialog-settings'>
		<p>You can read our <a href="https://trademapper.github.io/trademapper-js/privacy-policy">Privacy policy</a>.
		We use one cookie to remember user preferences (required).<span class='cookiedialog-analytics'> We also use cookies to gather anonymized usage statistics using Google Analytics. You can disable that below.</span></p>
		<button type="button" class="btn btn-success cookie-banner-ok">Ok</button>
		<button type="button" class="btn btn-warning cookie-banner-disable cookiedialog-analytics">Disable Google Analytics</button>
	</div>
</div>
