			<fieldset class="filters-group group-fileinput">
				<legend class="filter-group-title fileinput">CSV Data Source</legend>
				<p class="form-item">
					<label for="fileinput">From Computer:</label>
					<input type="file" id="fileinput"></input>
				</p>
				<p class="form-item">
					<label for="urlinput">From URL:</label>
					<input type="text" id="urlinput"/>
					<button type="button" id="url-download-button" class="btn btn-primary">Download</button>
				</p>
			</fieldset>
			<fieldset class="filters-group change-filter-spec"></fieldset>
			<fieldset class="filters-group csv-load-errors"></fieldset>
