<style>
[data-role="layer"] {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
}

[data-role="layer"] div {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	background-color: white;
	border-color: #777;
	border-style: solid;
	border-left-width: 1px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-right-width: 0px;
	padding: 0;
	margin: -1px 0;
	height: 44px;
}

[data-role="layer"] div:last-child {
	border-right-width: 1px;
}

[data-role="layer"] svg {
	display: block;
}

.layer-filename {
	width: 90%;
}

[data-role="filename"] {
	padding: 0 10px;
}
</style>

<div data-role="layer">
	<div class="layer-colour">
		<svg height="40" width="40">
			<circle cx="20" cy="20" r="13" fill="{{colour}}"/>
			Sorry, your browser does not support inline SVG.
		</svg>
	</div>

	<div class="layer-filename">
	  <span data-role="filename">{{filename}}</span>
	</div>
</div>
