<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			<h4 class="modal-title">Options</h4>
		</div>
		<div class="modal-body">
			<form role="form" id="options-form">
				<div class="checkbox year-choice">
					<label>
						<input type="checkbox" id="year-choice-checkbox">
						Show year slider
					</label>
					<p class="help-block">If checked, show the year slider and play button.<br />
					If not, show the year range form elements.</p>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			<button type="button" class="btn btn-primary" id="options-form-apply">Apply Changes</button>
		</div>
	</div>
</div>
