/* CSS styles to be injected into the map CSS */
* {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.mapocean { fill: {{OCEAN}}; }

.country { fill: {{COUNTRY}}; }
.country.trading { fill: {{COUNTRY_TRADING}}; }
.country-border {
	stroke: {{COUNTRY_BORDER}};
	fill: none;
	stroke-linejoin: round;
}

#legendcontainer, g.legend { opacity: 1; }
.legend-background {
	fill: {{LEGEND_BACKGROUND}};
	opacity: 0.6;
}

.legend text { fill: {{LEGEND_TEXT}}; }

.route-arrow-head-wide { fill: {{ARROW_WIDE}}; }
.route-arrow-head-narrow { fill: {{ARROW_NARROW}}; }
.route-plain-arrow-head-narrow { fill: {{ARROW_NARROW_PLAIN}}; }

.tradenode.exporter { fill: {{TRADE_EXPORTER}}; }
.tradenode.origin { fill: {{TRADE_ORIGIN}}; }
.tradenode.transit { fill: {{TRADE_TRANSIT}}; }
.tradenode.importer { fill: {{TRADE_IMPORTER}}; }

.overlay-polygon { fill: {{OVERLAY_POLYGON}}; }
.overlay-point { fill: {{OVERLAY_POINT}}; }
.overlay-polygon-boundary, .overlay-line {
	stroke-width: 0.03px;
	fill: none;
}
.overlay-polygon-boundary { stroke: {{OVERLAY_POLYGON_BOUNDARY}}; }
.overlay-line { stroke: {{OVERLAY_LINE}}; }

.year-text {
	font-size: 2em;
	fill: #000;
}
