<div class="change-over-time change-over-time-section disabled">
	<div class="change-over-time change-over-time-switch">
		<label>Year Slider:</label>
		<input type="checkbox" name="change-over-time-checkbox" >
	</div>
	<div class="change-over-time slider-section disabled">
		<div class="change-over-time play-button-section">
			<div class="change-over-time play-button" title="play">
				<span class="change-over-time play-button-text paused">▶</span>
			</div>
		</div>
		<div class="change-over-time year-slider-container">
			<div class="change-over-time year-slider">
			</div>
		</div>
	</div>
</div>
