<div class="change-over-time change-over-time-section">
	<div class="change-over-time change-over-time-switch">
		<label>Year Slider:</label>
		<input data-role="change-over-time-switch" type="checkbox" name="change-over-time-checkbox" >
	</div>
	<div data-role="change-over-time-section" class="change-over-time slider-section disabled">
		<div class="change-over-time play-button-section">
			<div data-role="change-over-time-play-button" class="change-over-time play-button" title="play">
				<span data-role="change-over-time-play-button-text" class="change-over-time play-button-text paused">▶</span>
			</div>
		</div>
		<div class="change-over-time year-slider-container">
			<input type="text" data-role="change-over-time-slider">
		</div>
	</div>
</div>
