/*-------General---
 ===============================*/


html {
	font-size:1em;
}

body {
	font-family: Arial,"liberation sans", Helvetica, sans-serif;
	font-size:85%;
	color:#6D6E72;
	margin:0;
	min-width:290px;
	padding:0;
}

* {
	 -webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		  -o-box-sizing:border-box;
		     box-sizing:border-box;
}

a, a img, img a {
	outline-style:none;
	outline:none;
	border:none;
}

/*----------General Layout---
 =====================================*/

.row {
	width:100%;
}

.inner {
	max-width:1280px;
	margin:0 auto;
}

.inner * {
	display:block;
	position:relative;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing:border-box;
	     -o-box-sizing:border-box;
	        box-sizing: border-box;
}

#mapheader {
	height: 100px;
}

#filter-panel {
	width:30%;
	float:left;
	position:relative;
	display:block;
}

#branding {
	width:30%;
	float:left;
	margin:0;
}

#trademapper {
	display:block;
	float:right;
    position: relative;
    width: 70%;
}

#mapinfo {
    border: medium none;
    margin-top:2em;
}

#mapinfo body {
	padding:0;
}

/*----------Header--------------------
 =====================================*/

.header.row {
	background-color:#1A8F82;
}
.branding {
    color: #fff;
    padding: 20px 0;
}
.logo {
    margin: 0;
    width: 100%;
}
.logo img {
	width:100%;
}


/*----------Filter Panel--------------
 =====================================*/

#filter-panel {
	background-color:#D6D8D3;
}

.csv-load-errors.haserror {
	border-width: 1px;
	border-color: red;
	border-style: solid;
	margin: 0.5em 1em;
	width: 90%;
}

span.showhide {
	cursor: pointer;
	color: blue;
	text-decoration: underline;
}

.filters-group {
    border: none;
    clear: both;
    margin: 0;
    padding: 0.5em 1em;
    width: 100%;
}

.filter-group-title,
.group-title > label {
    display:none;
}

.form-item {
	margin:0;
}

.form-item > label {
	color:#333;
	font-weight:bold;
}

/*---Map Title--*/

#title {
    border: none;
    font-family: sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 0.5em;
    padding: 0.5em;
    width: 100%;
}


/*---File Select--*/


.group-fileinput > p > input {width: 100%;}
.group-fileinput > p > label {width: 100%;}

/*---Filter Group selectors--*/

.form-item > label{
	display: inline-block;
    float: left;
    font-weight: bold;
    line-height: 1.8em;
    width: 25%;
}

.form-item > select,
.form-item > input {
    float: right;
    width: 60%;
}

.group-location > p {
    background-color: #333;
    color: #fff;
    overflow: auto;
    padding: 0.5em;
    margin:0.25em 0;
}

.group-location > p > label {
    color:#fff;
}



.form-item.location-exporter {background-color: #45689f;}
.form-item.location-transit {background-color: #1a8f82;}
.form-item.location-importer {background-color: #FF6600;}

/*---Year Group selectors--*/

.group-year > p {
    float: left;
    width: 50%;
}

.group-year > p > label {
	margin-right:0.5em;
}

.year-to > label {padding-left: 1em;}

/*----------Map-----------------------
 =====================================*/

.map.row {
	background-color:#eee;
}

#trademapper {
    background-color:#fff;
}

.map-svg {
/*	overflow:visible;*/
}

.mapocean {
	fill: #f8fffc;
}

.country { fill: #DFDFDF; }

.country.trading { fill: #b1c73e; }

.country-border {
	fill: none;
	stroke: #fff;
	stroke-linejoin: round;
}

.diagonal-hatch-path {
	stroke:#aaa;
	stroke-width:1px;
}

.disputed-border {
	fill: none;
	stroke: #fff;
	stroke-linejoin: round;
}

.legend-background {
	fill: #f8f8f8;
	opacity: 0.6;
}

.legend.traderoute {
	stroke: #6D6E72;
	opacity: 0.6;
}

.spiral.traderoute {
	stroke: #6D6E72;
}

.spiral.traderoute.traderoute-highlight {
	stroke: #EF0E81;
}

.route-arrow {
	fill: none;
	stroke-linejoin: round;
}

.route-arrow-head-wide {
	fill: white;
	fill-opacity: 0.5;
}

.route-arrow-head-narrow {
	fill: black;
	fill-opacity: 1;
}

.route-plain-arrow-head-narrow {
	fill: #ff6600;
	fill-opacity: 1;
}

.tradenode.origin {
	fill:#000000;
}
.tradenode.exporter {
	fill:#45689f;
}
.tradenode.transit {
	fill:#1a8f82;
}
.tradenode.importer {
	fill:#ff6600;
}

.tooltip-header {
	margin:0 0 2px 0;
	height:1.3em;
	border-bottom-width:1px;
	border-bottom-color:grey;
	border-bottom-style:groove;
	cursor:pointer;
}

.tooltip-close {
	float:right;
	padding:0 0.2em;
	border-width:1px;
	border-color:black;
	border-style:solid;
	cursor:pointer;
}

.tooltip-close:hover {
	background-color:black;
	color:white;
}
/*----------Tooltip---
 =====================================*/

#maptooltip {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.8);
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    padding: 0 1em 1em 1em;
    position: absolute;
    min-height:8em;
}

#maptooltip > span {
    color: #333;
    float: left;
    line-height: 1.8em;
    width: 50%;
}

.tooltip-dest > em {
    color: #ff6600;
    font-size: 1.1em;
    font-weight: bold;
}

.tooltip-dest > em:first-child {
    color: #333;
}

span.tooltip-source {
	font-size:1.3em;
	font-weight:bold;
	color:#6D6E72;
	width:100%!important;
}
span.tooltip-dest {
	color: white;
}

span.tooltip-quantity {
	font-size:1.3em;
	font-weight:bold;
	color:#6D6E72;
	float:right;
}

p.tooltip-location {
	margin:0.4em 0;
}

/*----------Disclaimer-------------------
 =====================================*/

.disclaimer.row {
	clear:both;
	background-color: #6d6e72;
}

.disclaimer > p {
	clear: both;
	color: #ddd;
	display: block;
	font-size: 0.8em;
	margin: 0;
	padding: 0.5em 0 0.1em;
}

.disclaimer > p > a {
	color: #4DB8FF;
}
